.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  border: 1px solid #bdbdbd;
  padding: 32px;
  border-radius: 4px;
}

.input-container {
  display: block;
  margin-bottom: 24px;
}

.input-container > label {
  display: block;
  margin-bottom: 6px;
}

.input-container > input {
  padding: 8px;
  font-size: 16px;
  width: 240px;
}

.radio-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.btn-submit {
  background-color: #1149bb;
  color: white;
  padding: 8px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
